  <nav>
    <div class="site-title">
      <a href="/">
        <h1>Blog</h1>
      </a>
      <p>An Express & Node.js Demo Site</p>
    </div>

    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create-new-blog">Create Blog</a></li>
    </ul>
  </nav>
