<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/navbar.ejs') %>

  <div class="blogs content">
    <h2>About</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae maxime sunt voluptate recusandae, nihil dolor quis aperiam eum quam ex ut veniam, tempore voluptatibus iure vel ullam itaque obcaecati ad?</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
