<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="create-blog">

      <form action="/blogs" method="POST">

        <!-- new blog post title -->
        <label for="title">Blog Title:</label>
        <div class="title-input">
          <input name="title" type="text" placeholder="blog title">
        </div>

        <!-- new blog post author -->
        <label for="author">Author:</label>
        <div class="title-input">
          <input name="author" type="text" placeholder="Adam Smith">
        </div>

        <!-- new blog post content -->
        <label for="content">Write Blog:</label>
        <div>
          <textarea name="content" id="content" cols="30" rows="10" placeholder="write your blog here"></textarea>
        </div>

        <!-- submit button -->
        <button>Submit</button>

      </form>

    </div>

    <%- include('./partials/footer.ejs') %>

  </body>
</html>
