*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
}
p, h1, h2, h3, a, ul, li {
  text-decoration: none;
  list-style: none;
}
li {
  font-size: 18px;
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  box-shadow: 0 5px 10px rgba(69, 69, 69, 0.5);
  text-transform: uppercase;
  border: none;
  width: 100%;
  letter-spacing: 2px;
  padding: 20px 50px;
  background-color: rgb(25, 151, 255);
  color: white;

  & a {
    color: inherit;
  }

  & h1 {
    font-size: 3rem;
  }

  & ul {
    display: flex;
    gap: 30px;
    align-items: end;
  }
}
.content {
  width: 80%;
  margin: 200px auto 150px auto;
}

.create-blog {
  width: 40%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin: 250px auto;

  & .title-input {
    width: 100%;
  }

  & input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border: 1px solid transparent;
    border-left: 3px solid grey;
  }

  & label {
    display: block;
    margin-top: 24px;
  }

  & textarea {
    height: 120px;
  }

  & input::placeholder, ::placeholder {
    font-family: 'Inter', sans-serif;
  }

  & button {
    width: 100%;
    font-size: 1.25rem;
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
  }

  & button:hover {
    background-color: rgb(0, 98, 0);
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 50px auto 0 auto;
  padding: 20px 0;
  text-align: center;
  justify-content: center;
  box-shadow: 0 -5px 10px #33333360;
  background-color: rgb(25, 151, 255);
  color: white;
}

.post {
  width: 50%;
  padding: 50px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.388);
  background-color: rgb(37, 130, 207);
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}

.post:hover {
  transform: scale(1.03);
}

.post-title {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 24px;
}

.post-author {
  font-size: 15px;
  margin-bottom: 4px;
}

.post-content {
  font-size: 22px;
}

.top-elements {
  display: flex;
  gap: 20px;
  text-align: left;
}

.delete {
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  margin: 10px 0;
  border-radius: 6px;
  cursor: pointer;
}

.post-content {
  font-size: 20px;
  margin-top: 50px;
}
